.faq-section {
  padding: 80px ;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.faq-container {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin: auto;
  gap: 40px;
}

.faq-image-box {
  flex: 1;
}

.faq-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 0px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.15);
}

.faq-content {
  flex: 1;
}

.faq-title {
  font-size: 45px;
  font-weight: 900;
  color: #063630;
  margin-bottom: 30px;
  line-height: 1.2;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faq-item {
  background: #fff;
  padding: 18px 20px;
  border-radius: 0px;
  cursor: pointer;
  border: 2px solid #f5b432;
  transition: all 0.3s ease;
}

.faq-item.active {
  background-color: #d59f33;
  color: #000;
}

.faq-question {
  font-size: 25px;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.faq-icon {
  font-size: 25px;
  font-weight: bold;
}

.faq-answer {
  margin-top: 10px;
  font-size: 16px;
  display: none;
}

.faq-item.active .faq-answer {
  display: block;
}

/* Responsive Mobile */
@media (max-width: 900px) {
  .faq-container {
    flex-direction: column;
  }

  .faq-image {
    height: 300px;
  }

  .faq-title {
    font-size: 28px;
    text-align: center;
  }
}

/* Laptop Screens */
@media (max-width: 1400px) {
  .faq-section {
    padding: 50px;
  }

  .faq-image {
    height: 420px;
  }

  .faq-title {
    font-size: 36px;
  }
}

/* Tablet range 1024px */
@media (max-width: 1024px) {
  .faq-container {
    gap: 25px;
  }

  .faq-image {
    height: 360px;
  }

  .faq-question {
    font-size: 18px;
  }
}
/* Laptop Screens */
@media (max-width: 1400px) {
  .faq-title {
    font-size: 46px;
  }
}

/* Tablet range 1024px */
@media (max-width: 1024px) {
  .faq-title {
    font-size: 38px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .faq-title {
    font-size: 28px;
    text-align: center;
  }

  .faq-section {
  padding: 80px 20px;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

}
