 /* Gallery Slider Main Section */
.gallery-slider-section {
  padding: 80px ;
  background: #E5D9CC;
  text-align: center;
}

.section-title {
  font-size: 45px;
  font-weight: 900;
  color: #063630;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

/* Product Card */
.product-card {
  position: relative;
  background: rgba(255,255,255,0.35);
  backdrop-filter: blur(12px);
  border-radius: 0px;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
  padding: 14px;
  transition: none;
  cursor: pointer;
}

/* Remove Hover Effects */
.product-card:hover {
  transform: none;
  box-shadow: 0px 15px 30px rgba(0,0,0,0.15);
}
.product-card:hover .product-img {
  transform: none;
}

/* Product Image */
.product-img {
  width: 100%;
  height: 380px;
  border-radius: 0px;
  object-fit: cover;
  transition: none;
}

/* Text Info */
.product-info {
  padding-top: 15px;
}

.product-info h3 {
  font-size: 20px;
  font-weight: 700;
  color: #063630;
}

.product-info p {
  font-size: 15px;
  color: black;
  margin-top: 4px;
}

/* Swiper Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #063630;
  transition: 0.3s;
  font-weight:700 ;
  
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #d59f33;
  transform: scale(1.25);
}

/* Pagination Dots */
.swiper-pagination {
  position: relative !important;
  margin-top: 35px !important;  /* moved down */
}

.swiper-pagination-bullet {
  background: #063630 !important;
  opacity: 0.4;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: #d59f33 !important;
  transform: scale(1.4);
  opacity: 1;
}

/* Responsive */
@media (max-width: 900px) {
  .product-img { height: 350px; }
  .section-title { font-size: 32px; }
}

@media (max-width: 600px) {
  .product-img { height: 350px; }
  .gallery-slider-section {
  padding: 80px 20px;
  background: #E5D9CC;
  text-align: center;
}

}
