 .map-section {
  padding: 0px 0;
  background-color: #fdf6ed;
  font-family: 'Arial', sans-serif;
}

.map-container {
  width: 100%;
  
  margin: auto;
  padding: 0 0px;
}

.map-left {
  width: 100%;
  height: 450px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.map-left:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 35px rgba(0,0,0,0.25);
}

/* Tablet */
@media (max-width: 992px) {
  .map-left {
    height: 350px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .map-section {
    padding: 0px 0;
  }

  .map-left {
    height: 250px;
    border-radius: 12px;
  }
}
